{% extends 'myapp/base.html' %} 
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>About Us</title>
</head>

{% block body_block %}
<body>
   <p>{{ welcome_message }}</p>
{#    <p>value of dummy1 :{{ dummy1 }}</p>#}
{#    <!-- Link to go back to the main page using both hardcoded URL and namespacing -->#}
{#   <p><a href="http://127.0.0.1:8000/">{{ dummy2 }}</a></p>#}
    <p><a href="http://127.0.0.1:8000/">Back to Main Page (Hardcoded)</a></p>
    <p><a href="{% url 'index' %}">Back to Main Page (Namespacing)</a></p>
</body>
{% endblock %}
</html>
